@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.line-h {
  line-height: 40px;
}
.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
